* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}
body {
  font-family: montserrat;
  background-color: #120e43;
}
/* NAVBAR CSS */
nav {
  height: 80px;
  width: 100%;
  background-color: #34495e;
  display: flex;
}
label.name {
  font-size: 35px;
  font-weight: bold;
  color: white;
  padding: 0 100px;
  line-height: 80px;
  flex: 2;
}
nav ul {
  margin-right: 0px;
}
nav li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}
nav a {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}
a.active,
a:hover {
  border: 1px solid white;
  transition: 0.5s;
}
.btn,
.toggle {
  display: none;
}

/* MAIN OF FEEDBACK FORM */
div.container {
  margin: 20px;
  display: flex;
  justify-content: center;
}
h1.heading {
  font-size: 40px;
  color: #e8bd0d;
  letter-spacing: 4px;
}
p.paragraph {
  font-size: 30px;
  color: #02b290;
  margin: 10px;
}
p a {
  color: #02daae;
  text-decoration: none;
  border-bottom: 2px solid red;
  letter-spacing: 2px;
}
select,
.Username,
.password {
  font-size: 30px;
  width: 80%;
  padding: 10px;
  border-radius: 7px;
  background-color: #edc126;
  border: 3px inset #edc126;
  color: #5b54fa;
}
.pushable {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  margin: 10px;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}
/*  */
/* Media start */
@media (max-width: 909px) {
  /* NAVBAR */
  nav {
    height: 100px;
  }
  label.name {
    font-size: 35px;
    /* font-weight: bold; */
    padding: 0 0px;
    line-height: 80px;
    color: aqua;
  }
  .visible {
    display: block;
    font-size: 20px;
    text-align: center;
    background-color: #34495e;
  }
  .toggle ol li {
    padding: 5px;
  }
  .toggle ol li a {
    color: tomato;
  }
  .btn {
    display: block;
    margin-top: 15px;
  }
  .navbar {
    display: none;
  }
  /* MAIN OF FEEDBACK FORM */
  input,
  .name,
  .password {
    font-size: 20px;
    width: 60%;
    padding: 10px;
    border-radius: 7px;
  }
}
