@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}



/* ===================================================== */
/* -------------- START HEADER-------------------- */
header {
  margin: 5px 10px 5px 10px;
  display: grid;
  grid-template-columns: 110px minmax(100px,1fr) 110px;
  grid-template-rows: 100px 30px;
  grid-gap: 5px;
}

div.one {
  background-image: url("PHOTO/FileHandler-new.png");
  background-position: center;
  background-size: cover;
}

div.two {
  flex-direction: column;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 140%;
  margin-top: 2%;
  flex-grow: 3;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

  p.AICTE {
  font-size: 60%;
  font-weight: bold;
}
div.three {
  background-image: url("PHOTO/rec-removebg-preview\ \(1\).png");
  background-position: center;
  background-size: cover;

}
div.four {
  margin-left: 5px;
  font-size: 55%;
  font-weight: bold;
}
div.five {
  grid-column: 3/-1;
  font-size: 70%;
  margin-left: 15px;
  font-weight: bold;
}

/* -----------media----------------- */
@media (max-width:900px) {
  header {
      grid-template-columns: 40px minmax(100px,1fr) 40px;
      grid-template-rows: 40px 15px;
      grid-gap: 0px;
  }
  
  div.one {
      background-size:contain;
  }
  
  div.two {
      font-size: 55%;
  }
  
  p.AICTE {
      font-size: 3px;
      font-weight: bold;
  }
  div.three {
      background-size:contain;
  }
  div.four {
      font-size: 3px;
      margin-left: 4px;
  }
  div.five {
      margin-left: 0px;
      font-size: 5px;
  }
      
} 

/* !!!!!!!!!!!!!!!!!!!!!!!! END HEADER !!!!!!!!!!!!!!!!!!!*/
/* ===================================================== */






/* ===================================================== */
/* ----------------NAVBAR START--------------------- */
nav {
  background: #FF642B	;
  padding: 1px 20px;
}
ul {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.logo a:hover {
  text-decoration: none;
}
.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}
.logo a,
.toggle a {
  font-size: 20px;
}
.button.secondary {
  border-bottom: 1px #444 solid;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}
.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}

/* Navbar Toggle */
.toggle {
  cursor:pointer;
}
.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.bars:before,
.bars:after {
  background: #999;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.bars:before {
  top: 5px;
}
.bars:after {
  top: -5px;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
      justify-content: center;
  }

  .logo {
      flex: 1;
  }

  .item.button {
      width: auto;
      order: 1;
      display: block;
  }
  .toggle {
      order: 2;
  }
  .button.secondary {
      border: 0;
  }
  .button a {
      padding: 7.5px 15px;
      background: teal;
      border: 1px #006d6d solid;
      border-radius:50em;
  }
  .button.secondary a {
      background: transparent;    
  }
  .button a:hover {
      text-decoration: none;
      transition:all .25s;
  }
  .button:not(.secondary) a:hover {
      background: #006d6d;
      border-color: #005959;
  }
  .button.secondary a:hover {
      color: #ddd;
  } 
  .carousel-cell img {
    height: 375px;
  }
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
      display: block;
      width: auto;
  }
  .toggle {
      display: none;
  }
  .logo {
      order: 0;
  }
  .item {
      order: 1;
  }
  .button {
      order: 2;
  }
  .menu li {
      padding: 15px 10px;
  }
  .menu li.button {
      padding-right: 0;
  }

}

/* !!!!!!!!!!!!!!!!!!!! NAVBAR END !!!!!!!!!!!!!!!!! */
/* ===================================================== */








/* ===================================================== */
/* --------------IMAGE SLIDER START---------------- */
.slider{
  position: relative;
  background: #fff;
  width: 98%;
  min-height: 500px;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;

}

.slider .slide{
  position: absolute;
  width: 125%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 1s;
}

.slider .slide img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slide .info{
  position: absolute;
  color: rgb(29, 217, 158);
  background: rgba(68, 79, 67, 0.644);
  width: 75%;
  margin-top: 17%;
  margin-left: 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}

.slider .slide .info h2{
  font-size: 2em;
  font-weight: 800;
}

.slider .slide .info p{
  font-size: 1em;
  font-weight: 400;
}

.navigation{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .navigation{
  opacity: 1;
}

.prev-btn, .next-btn{
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
}

.prev-btn{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.next-btn{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.navigation-visibility{
  z-index: 999;
  display: flex;
  justify-content: center;
}

.navigation-visibility .slide-icon{
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active{
  background: #4285F4;
}

@media (max-width: 900px){
  .slider{
    width: 100%;
    margin: 0px; 
    }

  .slider .slide .info{
    position: relative;
    width: 75%;
    margin-left: 20px;
    margin-top: 40%;
  }
}

@media (max-width: 500px){
  .slider{
    width: 100%;
    margin: 0px;
  }
  .slider .slide .info {
    width: 75%;
    margin-left: 10px;
    margin-top: 65%;
  }
  .slider .slide .info h2{
    font-size: 1.4em;
    line-height: 40px;
  }

  .slider .slide .info p{
    font-size: 0.7em;
  }
}
      
/* !!!!!!!!!!!!!!!!!!!!IMAGE SLIDER END!!!!!!!!!!!!!!!!!!! */
/* ===================================================== */









/* ===================================================== */
/* ----------------------Welcome START------------- */
div.welcome h1 {
  text-align: center;
  color: #585900;
  font-size: 40px;
}

@media (max-width: 500px) {
   div.welcome h1 {
    font-size: 30px;
    text-decoration: underline;
   }  
}
/* !!!!!!!!!!!!!!!!!!!!!!!!Welcome end!!!!!!!!!!!!!!!!!!!!!! */







/* ===================================================== */
/* -----------------------ABOUT SECTION start -------------------------*/
div.about {
  margin: 10px;
  font-family:'Times New Roman', Times, serif;
  text-shadow: 1px 1px  #222;
}

div.about h1 {
  text-align: center;
  color: #005959;
}

@media (max-width: 500px) {
  div.about h1 {
   font-size: 20px;
  }  
  div.about p {
    font-size: 15px;
  }

}
/*!!!!!!!!!!!!!!!!!!!! ABOUT SECTION End!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */
/* ===================================================== */









/* ===================================================== */
/* -----------------------PHOTO GRID start -------------------------*/


.title {
  text-align: center;
  background-color: #111;
}
.title h1 {
  margin-top: 30px;
  color: rgb(233, 233, 233);
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: lighter;
  font-style: italic;
}
.title h1 span {
  font-weight: bold;
  font-style: normal;
}
.title p {
  color: rgb(160, 160, 160);
  letter-spacing: 2px;
  font-style: italic;
}

.container-grid {
  width: 100%;
  padding: 30px 20px;
  display: grid;
  grid-gap: 0.6rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

.card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  border-radius: 4px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s;
  animation: cardAnimation 0.5s ease-out;
  animation-fill-mode: backwards;
  --delay: 0.1s;
}
.card .profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 30px;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.profile h6 {
  font-size: 25px;
  letter-spacing: 2px;
/*   text-transform: lowercase; */
  color: #cacacab9;
  font-weight: normal;
}
.profile p {
  font-size: 12px;
  color: #ffffff59;
  text-transform: lowercase;
  font-weight: normal;
}
.card:hover > .profile {
  opacity: 1;
}

.card:nth-child(1) {
  animation-delay: calc(0.5 * var(--delay));
}
.card:nth-child(2) {
  animation-delay: calc(1 * var(--delay));
}
.card:nth-child(3) {
  animation-delay: calc(1.5 * var(--delay));
}
.card:nth-child(4) {
  animation-delay: calc(2 * var(--delay));
}
.card:nth-child(5) {
  animation-delay: calc(2.5 * var(--delay));
}
.card:nth-child(6) {
  animation-delay: calc(3 * var(--delay));
}
.card:nth-child(7) {
  animation-delay: calc(3.5 * var(--delay));
}
.card:nth-child(8) {
  animation-delay: calc(4 * var(--delay));
}
.card:nth-child(9) {
  animation-delay: calc(4.5 * var(--delay));
}
.card:nth-child(10) {
  animation-delay: calc(5 * var(--delay));
}

@keyframes cardAnimation {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}

@media (min-width: 800px) {
  .card-large {
    grid-row: span 2 / auto;
  }
  .card-long {
    grid-column: span 2 / auto;
  }
  .card-long-full {
    grid-column: span 3 / auto;
  }
}


/*!!!!!!!!!!!!!!!!!!!! PHOTO GRID footer!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */
/* ===================================================== */










/* ===================================================== */
/* -----------------------Our Recruiters start -------------------------*/


.header {
   max-width: 1024px;
   width: 100%;
   margin: 15px 200px;
   /* margin-left: 200px;
   margin-right: 200px; */
   overflow: hidden;
   border: 3px solid black;
  }

h1.heading {
  text-align: center;

}

.row {
   display: flex;
   overflow: hidden;
  }

.imagegroup {
   display: flex;
   width: 100%;
  }

.imagegroup img{
/*   margin-left: 10px; */
  flex-shrink: 0;
  object-fit:contain;
  border: 3px solid white;
}

.imagegroup {
   animation: travel 20s ease-in-out infinite;
  }

  .imagegroup img {
    width: 250px;
    height: 100px;

  }

@keyframes travel {
   0%, 100% {
      transform: translate3d(0,0,0);
    }
   50% {
      transform: translate3d(-100%,0,0);
    }
 }

 
 @media (max-width: 500px){
 
  .header {
    max-width: 904px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*overflow: hidden; */
   }
 
.imagegroup img {
  width: 100px;
  height: 80px;
}

}
    
/*!!!!!!!!!!!!!!!!!!!! Our  Recruiters end!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */
/* ===================================================== */












/* ===================================================== */
/* -----------------------footer start -------------------------*/


/* body{
background: #fcfcfc;
font-family: sans-serif;
} */
footer{
  /*   */
  /* bottom: 0; */
  /* left: 0;
  right: 0; */
  background: #111;
  height: auto;
  /* width: 100vw; */
  
  padding-top: 15px;  
  color: #fff;
  
  }
  .footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  
  }
  .footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
  }
  .footer-content p{
  max-width: 500px;
  margin: 0px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
  }
  .socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
  }
  .socials li{
  margin: 0 10px;
  }
  .socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  
  border-radius: 50%;
  
  }
  .socials a i{
  font-size: 1.1rem;
  width: 20px;
  
  
  transition: color .4s ease;
  
  }
  .socials a:hover i{
  color: aqua;
  }
  
  .footer-bottom{
  background: #000;
  /*  width: 100vw; */
  padding: 10px;
  padding-bottom: 40px;
  text-align: center;
  }
  .footer-bottom p{
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  }
  .footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
  }
  .footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
  }
  .footer-menu{
  float: right;
  
  }
  .footer-menu ul{
  display: flex;
  }
  .footer-menu ul li{
  /* padding-right: 10px; */
  display: block;
  }
  .footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
  }
  .footer-menu ul li a:hover{
  color: #27bcda;
  }
  
  @media (max-width:500px) {
  .footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  }
  }
  
  /*!!!!!!!!!!!!!!!!!!!! footer end!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */
  /* ===================================================== */
  
  
  
  